body{
    background-color: #DDD1C7;
}

h1{
    background-color: #a2b9bc;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
}
h2{
    background-color: #b2ad7f;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
}
table {
    width: 100%;
    text-align: left;
  }
  table, th, td {
    border: 1px solid black;
    height: 2.15em;
    border-radius: 5px;
    padding: 5px;
  }
  th, td {
    padding: .5em;
    min-width: 3.5em;
  }
  thead {
    background: #6b5b95;
    color: #fcfcfc;
  }
  tbody tr:nth-child(odd){ 
    background: #fcfcfc;
  }
  tbody tr:nth-child(even){
    background: #dcdcdc;
  }
body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif

}
footer{
   font-weight: bold; 
}

.over-budget{
    color: #ff7b25;
    text-decoration-line: underline;
    text-transform: uppercase;
}